# ignore all .htaccess
.htaccess

# ignore all IIS files
web.config

# ignore all config.core.php
config.core.php
!build.config.php
_build/build.config.php
_build/test/config.core.php

# ignore all compressed js and css
*-min.css
*-min.js

# ignore concatenated js
modext.js

# ignore various IDE project files and folders
.idea/

# ignore PHP files beginning with test
test*.php

#ignore objectarray reference file and current.project.php

objectarray.txt
current.project.php
projects.php
_build/config/*



