/**
 * CSS file for MyComponent extra
 *
 * Copyright 2012-2013 by Bob Ray
 * Created on 12/05/2012
 *
 * Amended 20140319 9:07pm
 *
 * @package mycomponent
 */

@import 'foundation/foundation';

.projects {
  background-color: #caffbf;
}

.actions {
  background-color: #beffff;
}

.logs {
  background-color: #fff;
}
